th {
  text-align: left;
  font-size: x-large;
}

.mainDiv {
  margin: auto;
  width: 800px;
  padding-top: 1rem;
}

.table {
  width: 100%;
}

input {
  width: 100%;
  font-size: x-large;
  padding: 0.2rem;
}

.sideShow {
  background-color: rgb(253, 188, 67);
  height: 50%;
  text-align: center;
}

.tableOne {
  text-align: left;
  width: 100%;
}